USE [SAF_Seguridad]
GO
/****** Object:  StoredProcedure [SAF].[spConfSuperCliente]    Script Date: 30/06/2026 03:52:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER proc [SAF].[spConfSuperCliente]    
(    
 @Header     int,    
 @IdSuperCliente   int    = null,    
 @NumSuperCliente  varchar(20)  = null,    
 @Nombre     varchar(100) = '',    
 @IdConexion    int    = null,    
 @IdUsuario    int    = 0,    
 @Imagen     varchar(100) = '',    
 @IdCliente    int    = null    
)    
as    
begin    
declare @IdTipoUsuarioWeb int,    
 @IdPerfilWeb  int    
 set nocount on    
 if @Header=1    
  select IdSuperCliente,NumSuperCliente,SAF.DesEncriptaDato(Nombre),IdConexion,Imagen,IdUsuario from ConfSuperCliente where IdSuperCliente>0 order by NumSuperCliente    
 if @Header=2    
 begin    
  declare @imagenAnt varchar(100)    
     
  select @imagenAnt=Imagen from ConfSuperCliente where IdSuperCliente=@IdSuperCliente    
    
  update ConfSuperCliente set NumSuperCliente=@NumSuperCliente,    
         Nombre=SAF.EncriptaDato(@Nombre),    
         imagen=@imagen,    
         CambioImagen=case when @imagenAnt<>@Imagen then 'S' else 'N' end    
  where IdSuperCliente=@IdSuperCliente    
 end     
 if @Header=3    
 begin    
  set @IdSuperCliente=isnull((select max(IdSuperCliente) from ConfSuperCliente),0)+1    
  insert into ConfSuperCliente values(@IdSuperCliente,@NumSuperCliente,SAF.EncriptaDato(@Nombre),@IdConexion,@IdUsuario,@Imagen,'S')    
  select @IdSuperCliente    
 end    
 if @Header=4    
  delete ConfSuperCliente where IdSuperCliente=@IdSuperCliente    
 if @Header=5    
  if not exists(select 1 from ConfSuperCliente where NumSuperCliente=@NumSuperCliente)    
   select 1 as Valida    
  else    
   select 0 as Valida    
 if @Header=6    
  if not exists(select 1 from ConfSuperCliente where NumSuperCliente=@NumSuperCliente and IdSuperCliente<>@IdSuperCliente)    
   select 1 as Valida    
  else    
   select 0 as Valida    
 if @Header=7    
  select NumSuperCliente,NumSuperCliente+' - ' +SAF.DesEncriptaDato(Nombre) as NombreSuperCliente,IdSuperCliente as Id,    
   a.IdConexion,Servidor,BaseDatos,Usuario,Password,URL    
  from ConfSuperCliente A ,ConfConexiones B    
  where b.IdConexion=a.IdConexion and IdSuperCliente>0 order by NumSuperCliente    
 if @Header=8  --Super clientes por perfil web y tipo de usuario web    
 begin    
  select @IdPerfilWeb=IdPerfilWeb,@IdTipoUsuarioWeb=IdTipoUsuarioWeb,@IdSuperCliente=IdSuperCliente    
  from segusuarios where IdUsuario=@IdUsuario    
    
  if @IdTipoUsuarioWeb in (24001,24002,24003,24004,24005,24007)    
   select IdSuperCliente,SAF.DesEncriptaDato(Nombre) as Nombre, NumSuperCliente      
   from ConfSuperCliente a where IdSuperCliente=@IdSuperCliente and IdSuperCliente>0    
   and idsupercliente in (select idsupercliente from FnConfClientesUsuario(@IdUsuario) where Privilegio='S')    
   order by SAF.DesEncriptaDatoEnClaro(a.Nombre)    
  if @IdTipoUsuarioWeb in (24006)    
   select IdSuperCliente,SAF.DesEncriptaDato(Nombre) as Nombre, NumSuperCliente  from ConfSuperCliente a     
   where  IdSuperCliente=@IdSuperCliente    
   and IdSuperCliente>0    
   and idsupercliente in (select idsupercliente from FnConfClientesUsuario(@IdUsuario) where Privilegio='S')    
   order by SAF.DesEncriptaDatoEnClaro(a.Nombre)    
  if @IdTipoUsuarioWeb in (24008)    
   select IdSuperCliente,SAF.DesEncriptaDato(Nombre) as Nombre, NumSuperCliente 
   from ConfSuperCliente a where IdSuperCliente>0     
   and idsupercliente in (select idsupercliente from FnConfClientesUsuario(@IdUsuario) where Privilegio='S')    
   order by SAF.DesEncriptaDatoEnClaro(a.Nombre)    
  if @IdTipoUsuarioWeb in (24009)    
   select IdSuperCliente,SAF.DesEncriptaDato(Nombre) as Nombre, NumSuperCliente 
   from ConfSuperCliente a where IdSuperCliente>0     
   and idsupercliente in (select idsupercliente from FnConfClientesUsuario(@IdUsuario) where Privilegio='S')    
   order by SAF.DesEncriptaDatoEnClaro(a.Nombre)    
 end    
 if @Header=9  --Clientes por perfil web, tipo de usuario web y Super Cliente    
	if exists (select 1 from ConfClientes a,segnivelaccesoclientes b where a.idSupercliente=@idSupercliente and a.idcliente = b.Idcliente)    
 begin    
  select a.IdCliente, SAF.DesEncriptaDato(a.Nombre) as Nombre, a.NumCliente    
  from SAF.FnConfClientesUsuario(@IdUsuario) a,segnivelaccesoclientes b     
  where a.idSupercliente=@idSupercliente and a.idcliente = b.Idcliente  and Privilegio='S'     
  order by idnivel    
 end     
 else     
 begin    
      
  select IdCliente,SAF.DesEncriptaDato(Nombre) as Nombre,NumCliente from SAF.FnConfClientesUsuario(@IdUsuario) a 
  where IdCliente>0 and IdSuperCliente=@IdSuperCliente and Privilegio='S'    
  order by SAF.DesEncriptaDatoEnClaro(a.Nombre)    
 end    
 if @Header=10    
  select NumSuperCliente,NumSuperCliente+' - ' +SAF.DesEncriptaDato(Nombre) as NombreSuperCliente,IdSuperCliente as Id,    
   a.IdConexion,Servidor,BaseDatos,Usuario,Password,URL    
  from ConfSuperCliente A ,ConfConexiones B    
  where b.IdConexion=a.IdConexion and IdSuperCliente=@IdSuperCliente order by NumSuperCliente    
 if @Header=11    
  select IdSuperCliente,NumSuperCliente,SAF.DesEncriptaDato(Nombre) as Nombre,IdConexion,Imagen,IdUsuario,SAF.DesEncriptaDatoEnClaro(Nombre) as NombreEnClaro from ConfSuperCliente where IdSuperCliente>0 and IdConexion=@IdConexion     
  order by NumSuperCliente    
    
 --Leyenda Contenido Meramente Informativo    
 if @header = 12    
 begin    
  select ValorN,ValorA from confCatalogosDescripcion where IdCatalogo = 2 and IdDescripcion = 2077    
 end    
    
 --Despliega Liga    
 if @header = 13    
 begin    
  select ValorN,ValorA from confCatalogosDescripcion where IdCatalogo = 2 and IdDescripcion = 2080    
 end    
     
 if @Header=14  --Clientes por usuario     
 begin    
  select IdSuperCliente,IdConexion,IdCliente,--NumCliente,Nombre,NombreCorto,    
  (Select SAF.DesEncriptaDato(Nombre) from confSuperCliente a where IdSuperCliente=a.IdSuperCliente ) as SuperCliente    
  from SAF.FnConfClientesUsuario(@IdUsuario) a    
  where IdCliente>0  and Privilegio='S'    
  order by SAF.DesEncriptaDatoEnClaro(a.Nombre)    
 end    
 if @Header =15    
 begin    
  select IdCliente    
  from SAF.FnConfClientesUsuario(@IdUsuario) a    
  where IdCliente>0  and Privilegio='S'    
  and IdSuperCliente =@IdSuperCliente    
  order by SAF.DesEncriptaDatoEnClaro(a.Nombre)
 end    
     
 if @Header=16  --Clientes por usuario     
 begin    
  select IdSuperCliente,--NumCliente,Nombre,NombreCorto,    
  (Select SAF.DesEncriptaDato(Nombre) from confSuperCliente where IdSuperCliente=a.IdSuperCliente ) as SuperCliente    
  from SAF.FnConfClientesUsuario(@IdUsuario) a    
  where IdCliente>0  and Privilegio='S'    
  group by IdSuperCliente    
  order by (Select SAF.DesEncriptaDatoEnClaro(Nombre) from confSuperCliente where IdSuperCliente=a.IdSuperCliente )    
 end    
     
 if @Header=17  --Cliente por tipo de usuario web y Super Cliente y diferente cliente del seleccionado    
 begin    
  select IdCliente,SAF.DesEncriptaDato(Nombre) as Nombre from SAF.FnConfClientesUsuario(@IdUsuario) a    
  where IdCliente>0 and IdSuperCliente=@IdSuperCliente and Privilegio='S'    
  and IdCliente<>@IdCliente    
  and TipoMDI=1    
  order by SAF.DesEncriptaDatoEnClaro(a.Nombre)    
 end    
 if @Header=18    
 begin    
  select NumSuperCliente,NumSuperCliente+' - ' +SAF.DesEncriptaDato(Nombre) as NombreSuperCliente,IdSuperCliente as Id,    
   a.IdConexion,Servidor,BaseDatos,Usuario,Password,URL,Imagen    
  from ConfSuperCliente A ,ConfConexiones B    
  where b.IdConexion=a.IdConexion and IdSuperCliente=@IdSuperCliente    
 end    
    
end    
