/****** Object:  Table [SAF].[SuperCliente]    Script Date: 01/07/2026 11:28:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[SuperCliente](
	[IdSuperCliente] [int] NOT NULL,
	[NumSuperCliente] [varchar](20) NULL,
	[Nombre] [varchar](1000) NOT NULL,
	[Imagen] [varchar](100) NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[IdSuperCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
