/****** Object:  UserDefinedFunction [SAF].[EncriptaDato]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [SAF].[EncriptaDato] (@Dato VARCHAR(MAX))
RETURNS VARCHAR(MAX)
AS
BEGIN
    DECLARE @TextoCifrado VARBINARY(MAX)    
    SET @TextoCifrado = EncryptByKey(KEY_GUID('PermanentFidemKey'), @Dato)
    return CONVERT(VARCHAR(1000), @TextoCifrado, 1);
END
GO
