/****** Object:  UserDefinedFunction [SAF].[FnConfClientesUsuario]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [SAF].[FnConfClientesUsuario]
(
	@IdUsuario		int
)
returns @FnConfClientesUsuario table 
	(
	IdCliente		int,
	IdSuperCliente	int,
	NumCliente		varchar(25),
	IdConexion		int,
	Nombre			varchar(1000),
	NombreCorto		varchar(1000),
	FechaContrato	datetime,
	FechaAlta		datetime,
	IdEstatus		int,
	IdUsuario		int,
	IdTipoCliente	int,
	Imagen			varchar(100),
	RFC				varchar(18),
	TitulosFrac		varchar(1),
	CodigoContable	varchar(30),
	FechaInicioOperacion datetime,
	FechaFinOperacion	datetime,
	Privilegio			char(1),
	TipoMDI				char(1)
	)
as
begin
declare @IdPerfil		int,
		@IdTipoUsuario	int,
		@IdTipoUsuarioWeb	int,
		@IdCliente		int,
		@IdSuperCliente	int,
		@IdGrupo		int

	select @IdPerfil=IdPerfilCS,@IdTipoUsuario=IdTipoUsuario,@IdTipoUsuarioWeb=IdTipoUsuarioWeb
			,@IdCliente=IdCliente,@IdSuperCliente=IdSuperCliente, @IdGrupo = IdGrupoSuperCliente 
	from SegUsuarios where IdUsuario=@IdUsuario


	if @IdTipoUsuario=3001
	begin
		insert into @FnConfClientesUsuario
		select 
			IdCliente,
			IdSuperCliente,
			NumCliente,
			IdConexion,
			Nombre,
			NombreCorto,
			FechaContrato,
			FechaAlta,
			IdEstatus,
			IdUsuario,
			IdTipoCliente,
			Imagen,
			RFC,
			TitulosFrac,
			CodigoContable,
			FechaInicioOperacion,
			FechaFinOperacion,
			'S',
			TipoMDI
		from ConfClientes where IdCliente>0

	end
	
	
	if @IdTipoUsuario in (3002,3003)
	begin
		insert into @FnConfClientesUsuario
		select 
			IdCliente,
			IdSuperCliente,
			NumCliente,
			IdConexion,
			Nombre,
			NombreCorto,
			FechaContrato,
			FechaAlta,
			IdEstatus,
			IdUsuario,
			IdTipoCliente,
			Imagen,
			RFC,
			TitulosFrac,
			CodigoContable,
			FechaInicioOperacion,
			FechaFinOperacion,
			case when exists(select 1 from SegClientesUsuario where IdUsuario=@IdUsuario and IdCliente=a.IdCliente) or a.IdUsuario=@IdUsuario then 'S' else 'N' end,
			TipoMDI
		from ConfClientes a where IdCliente>0 and IdEstatus=15007

	end
	if @IdTipoUsuario=3004
	begin
		if @IdTipoUsuarioWeb =24001
		begin
			if @IdGrupo =0
			begin
				insert into @FnConfClientesUsuario
				select 
					IdCliente,
					IdSuperCliente,
					NumCliente,
					IdConexion,
					Nombre,
					NombreCorto,
					FechaContrato,
					FechaAlta,
					IdEstatus,
					IdUsuario,
					IdTipoCliente,
					Imagen,
					RFC,
					TitulosFrac,
					CodigoContable,
					FechaInicioOperacion,
					FechaFinOperacion,
					'S',--case when @IdCliente=a.idCliente then 'S' else 'N' end,
					TipoMDI
				from ConfClientes a where IdCliente>0
				and IdSuperCliente =@IdSuperCliente 
			end
			else
			begin
				insert into @FnConfClientesUsuario
				select 
					IdCliente,
					IdSuperCliente,
					NumCliente,
					IdConexion,
					Nombre,
					NombreCorto,
					FechaContrato,
					FechaAlta,
					IdEstatus,
					IdUsuario,
					IdTipoCliente,
					Imagen,
					RFC,
					TitulosFrac,
					CodigoContable,
					FechaInicioOperacion,
					FechaFinOperacion,
					'S',
					TipoMDI
				from ConfClientes a where IdCliente>0
				and IdSuperCliente in (select IdSuperCliente from SegConfGruposSuperCliente where IdGrupo = @IdGrupo)
				
			end
		end
		if @IdTipoUsuarioWeb in(24002,24003,24004,24005,24010)
		begin
			insert into @FnConfClientesUsuario
				select 
					IdCliente,
					IdSuperCliente,
					NumCliente,
					IdConexion,
					Nombre,
					NombreCorto,
					FechaContrato,
					FechaAlta,
					IdEstatus,
					IdUsuario,
					IdTipoCliente,
					Imagen,
					RFC,
					TitulosFrac,
					CodigoContable,
					FechaInicioOperacion,
					FechaFinOperacion,
					case when @IdCliente=a.idCliente then 'S' else 'N' end,
					TipoMDI
				from ConfClientes a where IdCliente>0
				and IdSuperCliente =@IdSuperCliente 
		end

		if @IdTipoUsuarioWeb in (24006)
		begin
			insert into @FnConfClientesUsuario
			select 
				IdCliente,
				IdSuperCliente,
				NumCliente,
				IdConexion,
				Nombre,
				NombreCorto,
				FechaContrato,
				FechaAlta,
				IdEstatus,
				IdUsuario,
				IdTipoCliente,
				Imagen,
				RFC,
				TitulosFrac,
				CodigoContable,
				FechaInicioOperacion,
				FechaFinOperacion,
				case when @IdSuperCliente=a.idSuperCliente and exists(select 1 from SegClientesUsuario where IdUsuario=@IdUsuario and IdCliente=a.IdCliente)
				then 'S' else 'N' end,
				TipoMDI
			from ConfClientes a where IdCliente>0
		end
		if @IdTipoUsuarioWeb in (24007)
		begin
			insert into @FnConfClientesUsuario
			select 
				IdCliente,
				IdSuperCliente,
				NumCliente,
				IdConexion,
				Nombre,
				NombreCorto,
				FechaContrato,
				FechaAlta,
				IdEstatus,
				IdUsuario,
				IdTipoCliente,
				Imagen,
				RFC,
				TitulosFrac,
				CodigoContable,
				FechaInicioOperacion,
				FechaFinOperacion,
				case when @IdSuperCliente=a.idSuperCliente
				then 'S' else 'N' end,
				TipoMDI
			from ConfClientes a where IdCliente>0
		end
		if @IdTipoUsuarioWeb in (24008)
		begin
			insert into @FnConfClientesUsuario
			select 
				IdCliente,
				IdSuperCliente,
				NumCliente,
				IdConexion,
				Nombre,
				NombreCorto,
				FechaContrato,
				FechaAlta,
				IdEstatus,
				IdUsuario,
				IdTipoCliente,
				Imagen,
				RFC,
				TitulosFrac,
				CodigoContable,
				FechaInicioOperacion,
				FechaFinOperacion,
				'S',
				TipoMDI
			from ConfClientes a where IdCliente>0 and a.IdCliente in(Select IdCliente from SegClientesUsuario where IdUsuario =@IdUsuario)
		end

		if @IdTipoUsuarioWeb in (24009)
		begin
			insert into @FnConfClientesUsuario
			select 
				IdCliente,
				IdSuperCliente,
				NumCliente,
				IdConexion,
				Nombre,
				NombreCorto,
				FechaContrato,
				FechaAlta,
				IdEstatus,
				IdUsuario,
				IdTipoCliente,
				Imagen,
				RFC,
				TitulosFrac,
				CodigoContable,
				FechaInicioOperacion,
				FechaFinOperacion,
				case when exists(select 1 from SegConfGruposSuperCliente 
								where IdSuperCliente=a.IdSuperCliente 
								and IdGrupo=(select idGrupoSuperCliente from SegUsuarios where IdUsuario=@idusuario)) then 'S' 
				else 'N' end,
				TipoMDI
			from ConfClientes a where IdCliente>0

		end

	end
	return
end

GO
