/****** Object:  UserDefinedFunction [SAF].[DesEncriptaDato]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [SAF].[DesEncriptaDato](@Dato VARCHAR(MAX))
RETURNS VARCHAR(100)
AS
BEGIN
	declare @accesoDatosSensibles varchar(1)
    declare @TextoDesCifrado varchar(100)
    declare @Resultado varchar(100)

	SET  @TextoDesCifrado = CAST(DECRYPTBYKEY(CONVERT(VARBINARY(MAX), @Dato, 1) ) AS VARCHAR(100))

	set @accesoDatosSensibles=convert(varchar,SESSION_CONTEXT(N'accesoDatosSensibles'))
	declare @StringLength INT = LEN(@TextoDesCifrado)
	IF @accesoDatosSensibles = 'S'   -- con acceso
	BEGIN
		set @Resultado = @TextoDesCifrado
	END
	ELSE -- sin acceso
	BEGIN
		declare @StartLen INT = 1;
		set @Resultado = STUFF(@TextoDesCifrado, @StartLen + 1, @StringLength - @StartLen, REPLICATE('*', 7));
    END
	
    RETURN coalesce (@Resultado,'')
END
GO
