/****** Object:  UserDefinedFunction [SAF].[DesEncriptaDatoEnClaro]    Script Date: 01/07/2026 11:28:47 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [SAF].[DesEncriptaDatoEnClaro](@Dato VARCHAR(MAX))
RETURNS VARCHAR(100)
AS
BEGIN
    DECLARE @TextoDesCifrado VARCHAR(100)
	
	SET  @TextoDesCifrado = CAST(DECRYPTBYKEY(CONVERT(VARBINARY(MAX), @Dato, 1) ) AS VARCHAR(100))

    RETURN coalesce(@TextoDesCifrado,'')
END
GO
