USE [SAF_01]
GO
/****** Object:  StoredProcedure [SAF].[spFoSuperCliente]    Script Date: 30/06/2026 03:55:21 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [SAF].[spFoSuperCliente]
(
	@Header				int,
	@IdSuperCliente		int				= null,
	@NumSuperCliente	varchar(20)		= null,
	@Nombre				varchar(100)	= null,
	@giIdUsuario		int				= null,
	@Imagen				varchar(200)	= null
)
as
begin
	set nocount on

	if @Header=1
		select IdSuperCliente,NumSuperCliente,SAF.DesEncriptaDato(Nombre) as Nombre from SuperCliente a where IdSuperCliente>0 order by SAF.DesEncriptaDatoEnClaro(a.Nombre)
	if @Header=2
	begin
		update SuperCliente set NumSuperCliente=@NumSuperCliente,Nombre=SAF.EncriptaDato(@Nombre),IdUsuario=@giIdUsuario,Imagen=@Imagen
			where IdSuperCliente=@IdSuperCliente
	end
	if @Header=3
	begin
		--set @IdSuperCliente=isnull((select max(IdSuperCliente) from SuperCliente),0)+1

		insert into SuperCliente values(@IdSuperCliente,@NumSuperCliente,SAF.EncriptaDato(@Nombre),@Imagen,@giIdUsuario)
	end
	if @Header=4
	begin
		update SuperCliente set IdUsuario = @giIdUsuario where IdSuperCliente=@IdSuperCliente
		delete SuperCliente where IdSuperCliente=@IdSuperCliente
	end
	if @Header=5
		if not exists(select 1 from SuperCliente where NumSuperCliente=@NumSuperCliente)
			select 1 as Valida
		else
			select 0 as Valida
end













