/****** Object:  Table [SAF].[SegPerfilesCS]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[SegPerfilesCS](
	[IdPerfil] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[SCteRestringido] [char](1) NOT NULL,
	[CteRestringido] [char](1) NOT NULL,
	[Comentario] [varchar](512) NOT NULL,
	[IdBandera] [int] NULL,
	[IdUsuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[FechaUltCambio] [datetime] NOT NULL,
	[accesoDatosSensibles] [varchar](1) NOT NULL,
 CONSTRAINT [PK_SegPerfilesCS] PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
