/****** Object:  Table [SAF].[ConfCatalogos]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[ConfCatalogos](
	[IdCatalogo] [int] NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[Tipo] [varchar](1) NOT NULL,
	[CodigoEst] [char](1) NOT NULL,
 CONSTRAINT [PK_ConfCatalogos] PRIMARY KEY CLUSTERED 
(
	[IdCatalogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
