/****** Object:  Table [SAF].[ConfClientes]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[ConfClientes](
	[IdCliente] [int] NOT NULL,
	[IdSuperCliente] [int] NOT NULL,
	[NumCliente] [varchar](25) NOT NULL,
	[IdConexion] [int] NOT NULL,
	[Nombre] [varchar](1000) NOT NULL,
	[NombreCorto] [varchar](1000) NOT NULL,
	[FechaContrato] [datetime] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[IdEstatus] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdTipoCliente] [int] NOT NULL,
	[Imagen] [varchar](100) NOT NULL,
	[RFC] [varchar](18) NOT NULL,
	[TitulosFrac] [varchar](1) NOT NULL,
	[CodigoContable] [varchar](30) NOT NULL,
	[FechaInicioOperacion] [datetime] NOT NULL,
	[FechaFinOperacion] [datetime] NOT NULL,
	[IdPromotor] [int] NOT NULL,
	[NombreFiscal] [varchar](1000) NOT NULL,
	[Domicilio] [varchar](1000) NOT NULL,
	[Colonia] [varchar](1000) NOT NULL,
	[DelMun] [varchar](1000) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[CP] [varchar](5) NOT NULL,
	[TelOficina] [varchar](15) NOT NULL,
	[Fax] [varchar](15) NOT NULL,
	[OtroTel] [varchar](15) NOT NULL,
	[CambioImagen] [varchar](1) NOT NULL,
	[OperaSocInv] [char](1) NOT NULL,
	[IdLineaNegocio] [int] NOT NULL,
	[TipoMDI] [int] NOT NULL,
 CONSTRAINT [PK_ConfClientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[ConfClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_ConfClientes_ConfCatalogosDescripcion] FOREIGN KEY([IdEstatus])
REFERENCES [SAF].[ConfCatalogosDescripcion] ([IdDescripcion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [SAF].[ConfClientes] CHECK CONSTRAINT [FK_ConfClientes_ConfCatalogosDescripcion]
GO
ALTER TABLE [SAF].[ConfClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_ConfClientes_ConfCatalogosDescripcion1] FOREIGN KEY([IdTipoCliente])
REFERENCES [SAF].[ConfCatalogosDescripcion] ([IdDescripcion])
GO
ALTER TABLE [SAF].[ConfClientes] CHECK CONSTRAINT [FK_ConfClientes_ConfCatalogosDescripcion1]
GO
ALTER TABLE [SAF].[ConfClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_ConfClientes_ConfConexiones] FOREIGN KEY([IdConexion])
REFERENCES [SAF].[ConfConexiones] ([IdConexion])
GO
ALTER TABLE [SAF].[ConfClientes] CHECK CONSTRAINT [FK_ConfClientes_ConfConexiones]
GO
ALTER TABLE [SAF].[ConfClientes]  WITH NOCHECK ADD  CONSTRAINT [FK_ConfClientes_ConfSuperCliente] FOREIGN KEY([IdSuperCliente])
REFERENCES [SAF].[ConfSuperCliente] ([IdSuperCliente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [SAF].[ConfClientes] CHECK CONSTRAINT [FK_ConfClientes_ConfSuperCliente]
GO
