/****** Object:  Table [SAF].[ConfSuperCliente]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[ConfSuperCliente](
	[IdSuperCliente] [int] NOT NULL,
	[NumSuperCliente] [varchar](20) NOT NULL,
	[Nombre] [varchar](1000) NOT NULL,
	[IdConexion] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Imagen] [varchar](100) NULL,
	[CambioImagen] [varchar](1) NOT NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[IdSuperCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[ConfSuperCliente]  WITH NOCHECK ADD  CONSTRAINT [FK_ConfSuperCliente_ConfConexiones] FOREIGN KEY([IdConexion])
REFERENCES [SAF].[ConfConexiones] ([IdConexion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [SAF].[ConfSuperCliente] CHECK CONSTRAINT [FK_ConfSuperCliente_ConfConexiones]
GO
ALTER TABLE [SAF].[ConfSuperCliente]  WITH NOCHECK ADD  CONSTRAINT [FK_ConfSuperCliente_SegUsuarios] FOREIGN KEY([IdUsuario])
REFERENCES [SAF].[SegUsuarios] ([IdUsuario])
GO
ALTER TABLE [SAF].[ConfSuperCliente] CHECK CONSTRAINT [FK_ConfSuperCliente_SegUsuarios]
GO
