/****** Object:  Table [SAF].[SegConfGruposSuperCliente]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[SegConfGruposSuperCliente](
	[IdSuperCliente] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
 CONSTRAINT [PK_SegConfGruposSuperCliente] PRIMARY KEY CLUSTERED 
(
	[IdSuperCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[SegConfGruposSuperCliente]  WITH CHECK ADD  CONSTRAINT [FK_SegConfGruposSuperCliente_ConfSuperCliente] FOREIGN KEY([IdSuperCliente])
REFERENCES [SAF].[ConfSuperCliente] ([IdSuperCliente])
GO
ALTER TABLE [SAF].[SegConfGruposSuperCliente] CHECK CONSTRAINT [FK_SegConfGruposSuperCliente_ConfSuperCliente]
GO
