/****** Object:  Table [SAF].[SegUsuarios]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[SegUsuarios](
	[IdUsuario] [int] NOT NULL,
	[Nick] [varchar](100) NOT NULL,
	[Password] [varchar](300) NOT NULL,
	[NombreUsuario] [varchar](1000) NOT NULL,
	[IdTipoUsuario] [int] NOT NULL,
	[IdPerfilCS] [int] NOT NULL,
	[IdPerfilWeb] [int] NOT NULL,
	[IdTipoUsuarioWeb] [int] NOT NULL,
	[IdSuperCliente] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[IdEstatus] [int] NOT NULL,
	[VigenciaPassword] [int] NOT NULL,
	[PasswordCaduca] [char](1) NOT NULL,
	[FechaUltCambio] [datetime] NOT NULL,
	[Inicio] [varchar](1) NOT NULL,
	[RequiereCodigoSeg] [varchar](1) NOT NULL,
	[Tipo] [int] NOT NULL,
	[CredentialID] [varchar](20) NOT NULL,
	[CorreoElectronico] [varchar](1000) NOT NULL,
	[IdGrupoSuperCliente] [int] NOT NULL,
 CONSTRAINT [PK_SegUsuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_SegUsuarios] UNIQUE NONCLUSTERED 
(
	[Nick] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[SegUsuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_SegUsuarios_ConfCatalogosDescripcion] FOREIGN KEY([IdTipoUsuario])
REFERENCES [SAF].[ConfCatalogosDescripcion] ([IdDescripcion])
GO
ALTER TABLE [SAF].[SegUsuarios] CHECK CONSTRAINT [FK_SegUsuarios_ConfCatalogosDescripcion]
GO
ALTER TABLE [SAF].[SegUsuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_SegUsuarios_ConfCatalogosDescripcion1] FOREIGN KEY([IdTipoUsuarioWeb])
REFERENCES [SAF].[ConfCatalogosDescripcion] ([IdDescripcion])
GO
ALTER TABLE [SAF].[SegUsuarios] CHECK CONSTRAINT [FK_SegUsuarios_ConfCatalogosDescripcion1]
GO
ALTER TABLE [SAF].[SegUsuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_SegUsuarios_ConfCatalogosDescripcion2] FOREIGN KEY([IdEstatus])
REFERENCES [SAF].[ConfCatalogosDescripcion] ([IdDescripcion])
GO
ALTER TABLE [SAF].[SegUsuarios] CHECK CONSTRAINT [FK_SegUsuarios_ConfCatalogosDescripcion2]
GO
ALTER TABLE [SAF].[SegUsuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_SegUsuarios_ConfClientes] FOREIGN KEY([IdCliente])
REFERENCES [SAF].[ConfClientes] ([IdCliente])
GO
ALTER TABLE [SAF].[SegUsuarios] CHECK CONSTRAINT [FK_SegUsuarios_ConfClientes]
GO
ALTER TABLE [SAF].[SegUsuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_SegUsuarios_ConfSuperCliente] FOREIGN KEY([IdSuperCliente])
REFERENCES [SAF].[ConfSuperCliente] ([IdSuperCliente])
GO
ALTER TABLE [SAF].[SegUsuarios] CHECK CONSTRAINT [FK_SegUsuarios_ConfSuperCliente]
GO
ALTER TABLE [SAF].[SegUsuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_SegUsuarios_SegPerfilesCS] FOREIGN KEY([IdPerfilCS])
REFERENCES [SAF].[SegPerfilesCS] ([IdPerfil])
GO
ALTER TABLE [SAF].[SegUsuarios] CHECK CONSTRAINT [FK_SegUsuarios_SegPerfilesCS]
GO
