/****** Object:  Table [SAF].[ConfConexiones]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[ConfConexiones](
	[IdConexion] [int] NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[Servidor] [varchar](400) NOT NULL,
	[BaseDatos] [varchar](200) NOT NULL,
	[Usuario] [varchar](200) NULL,
	[Password] [varchar](300) NOT NULL,
	[URL] [varchar](500) NOT NULL,
	[UsuarioAdmin] [varchar](50) NOT NULL,
	[PasswordAdmin] [varchar](300) NOT NULL,
	[TipoPassword] [int] NOT NULL,
	[AplicacionOrigen] [varchar](256) NOT NULL,
	[AplicacionDestino] [varchar](256) NOT NULL,
 CONSTRAINT [PK_ConfConexiones] PRIMARY KEY CLUSTERED 
(
	[IdConexion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
