/****** Object:  Table [SAF].[SegHistoricoPassword]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[SegHistoricoPassword](
	[IdUsuario] [int] NOT NULL,
	[FechaCambio] [datetime] NOT NULL,
	[Password] [varchar](300) NOT NULL,
	[IP] [varchar](40) NOT NULL
) ON [PRIMARY]
GO
