/****** Object:  Table [SAF].[SegNivelAccesoClientes]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[SegNivelAccesoClientes](
	[IdSuperCliente] [int] NOT NULL,
	[IdNivel] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_SegNivelAccesoClientes] PRIMARY KEY CLUSTERED 
(
	[IdSuperCliente] ASC,
	[IdNivel] ASC,
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[SegNivelAccesoClientes]  WITH CHECK ADD  CONSTRAINT [FK_SegNivelAccesoClientes_ConfClientes] FOREIGN KEY([IdCliente])
REFERENCES [SAF].[ConfClientes] ([IdCliente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [SAF].[SegNivelAccesoClientes] CHECK CONSTRAINT [FK_SegNivelAccesoClientes_ConfClientes]
GO
