/****** Object:  Table [SAF].[ConfCatalogosDescripcion]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[ConfCatalogosDescripcion](
	[IdDescripcion] [int] NOT NULL,
	[IdCatalogo] [int] NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[ValorA] [varchar](100) NOT NULL,
	[ValorN] [int] NOT NULL,
	[ValorF] [datetime] NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ConfCatalogosDescripcion] PRIMARY KEY CLUSTERED 
(
	[IdDescripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[ConfCatalogosDescripcion]  WITH NOCHECK ADD  CONSTRAINT [FK_ConfCatalogosDescripcion_ConfCatalogos] FOREIGN KEY([IdCatalogo])
REFERENCES [SAF].[ConfCatalogos] ([IdCatalogo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [SAF].[ConfCatalogosDescripcion] CHECK CONSTRAINT [FK_ConfCatalogosDescripcion_ConfCatalogos]
GO
