/****** Object:  Table [SAF].[SegClientesUsuario]    Script Date: 01/07/2026 11:21:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[SegClientesUsuario](
	[IdUsuario] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
 CONSTRAINT [PK_SegClientesUsuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[SegClientesUsuario]  WITH NOCHECK ADD  CONSTRAINT [FK_SegClientesUsuario_ConfClientes] FOREIGN KEY([IdCliente])
REFERENCES [SAF].[ConfClientes] ([IdCliente])
GO
ALTER TABLE [SAF].[SegClientesUsuario] CHECK CONSTRAINT [FK_SegClientesUsuario_ConfClientes]
GO
ALTER TABLE [SAF].[SegClientesUsuario]  WITH NOCHECK ADD  CONSTRAINT [FK_SegClientesUsuario_SegUsuarios] FOREIGN KEY([IdUsuario])
REFERENCES [SAF].[SegUsuarios] ([IdUsuario])
GO
ALTER TABLE [SAF].[SegClientesUsuario] CHECK CONSTRAINT [FK_SegClientesUsuario_SegUsuarios]
GO
